@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Sarabun:wght@500&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(9, 20, 46);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 80px;
    animation: anim1 1.6s;
    transition: 0.3s;
}

header nav {
    position: relative;
    display: flex;
    animation: anim1 1.7s;
}

nav a {
    position: relative;
    display: inline-block;
    color: #fff;
    font-weight: 300;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    transition: 0.2s;
}

@keyframes anim1 {
    0% {left:0px; top:-100px;}
    100% {left:0px; top:0px;}
}

.logo:hover {
    opacity: 0.6;
}

nav a:hover {
    color: #ff7cde;
}

/*marker*/

nav #marker {
    position: absolute;
    left: 0;
    height: 2px;
    width: 0;
    background: #fff;
    bottom: -8px;
    transition: 0.3s;
    border-radius: 4px;
}

.menu {
    color: #fff;
}

@media screen and (max-width: 900px) {
    .logo {
        position: relative;
        max-width: 80px;
    }

    .menu {
        display: block;
        width: auto;
    }

    .nav {
        display: none;
        transition: 0.3s;
    }
}

@media screen and (min-width: 901px) {
    .logo {
        position: relative;
        max-width: 80px;
    }

    .menu {
        display: none;
        width: auto;
    }

    .nav {
        display: block;
        transition: 0.3s;
    }
}
/*marker*/
/*logo animation*/



/*logo animation end*/