@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Sarabun:wght@500&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e9765b;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 80px;
    animation: anim1 1.6s;
    transition: 0.3s;
}

header nav {
    position: relative;
    display: flex;
    animation: anim1 1.7s;
}

nav a {
    position: relative;
    display: inline-block;
    color: #fff;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    transition: 0.2s;
}

@keyframes anim1 {
    0% {left:0px; top:-100px;}
    100% {left:0px; top:0px;}
}

.logo:hover {
    opacity: 0.6;
}

nav a:hover {
    color: #771800;
}

/*marker*/

nav #marker {
    position: absolute;
    left: 0;
    height: 2px;
    width: 0;
    background: #fff;
    bottom: -8px;
    transition: 0.3s;
    border-radius: 4px;
}

.menu {
    color: #fff;
}

@media screen and (max-width: 900px) {
    .logo {
        position: relative;
        max-width: 80px;
    }

    .menu {
        display: block;
        width: auto;
    }

    .nav {
        display: none;
        transition: 0.3s;
    }

    nav #marker {
        display: none;
    }

    .content .textbox h2 {
        color: #fff;
        font-size: 4em;
    }

    .content .textbox p {
        font-size: 15px;
    }

}

@media screen and (min-width: 901px) {
    .logo {
        position: relative;
        max-width: 80px;
    }

    .menu {
        display: none;
        width: auto;
    }

    .nav {
        display: block;
        transition: 0.3s;
    }
}
/*header end*/

/*content*/

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textbox {
    position: relative;
    max-width: 600px;
}

.content .textbox h2 {
    color: #fff;
    font-size: 4em;
}

.content .textbox span {
    color:#000000;
}
/*content end*/

/*scroll bar*/

::-webkit-scrollbar {
    background: #e9765b;
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #771800; 
    border-radius: 100px;
}

.img {
    transition: transform .2s; /* Animation */
}

.img.hover {
    transform: scale(1.2);
}
/*scroll bar end*/